<div class="row">
  <div class="col-sm-12">

    <h1>{{ 'NOT-FOUND.NOT-FOUND' | translate }}</h1>

    <p>
      {{ 'NOT-FOUND.RETURN' | translate }}
      <a routerLink="/">Homepage</a>.
    </p>

  </div>
</div>
