<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="col-sm-12">
      <ul class="nav navbar-nav">

        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">{{ 'NAVIGATION.HOME' | translate }}</a>
        </li>

        <li role="presentation" routerLinkActive="active">
          <a routerLink="/i-do-not-exist">{{ 'NAVIGATION.404' | translate }}</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li role="presentation">
          <button class="btn btn-link" (click)="switchLanguage('de-DE')">DE</button>
        </li>

        <li role="presentation">
          <button class="btn btn-link" (click)="switchLanguage('en')">EN</button>
        </li>

      </ul>
    </div>

  </div>
</nav>

<div class="container content">
  <router-outlet></router-outlet>
</div>
