<div class="row">
  <div class="col-sm-12">

    <h1>Homepage</h1>

    <div class="greeting">{{ 'HOME.HELLO' | translate:{ value: who } }}</div>

    <div>
      <button type="button" class="btn btn-default" (click)="goAway()">{{ 'HOME.NAVIGATE.AWAY' | translate }}</button>
      <button type="button" class="btn btn-default" (click)="goToGoogle()">{{ 'HOME.NAVIGATE.GOOGLE' | translate }}</button>
    </div>
  </div>
</div>
